/*通用*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{*font-size:100%;font-weight:400;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,i,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none outside;}
table{border-collapse:collapse;border-spacing:0px;}
caption,th{text-align:left;}
input,textarea,select,button{font-family:inherit;font-size:inherit;*font-size:100%;font-weight:inherit;resize:none;outline:none;}
button{cursor:pointer;}
a{text-decoration: none;}
html,body{width:100%;height:100%;}
body{font:14px/16px "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}
.fl{float: left;}
.fr{float: right;}
.cl{clear: both;}
.no{display:none;}
.w_1000{width:1000px;margin:0 auto;}
.w_50_{width:50%;}
.w_100_{width:100%;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mt10{margin-top:10px;}
.mt20{margin-top:15px;}

.color_red{color:red !important;}
.color_red a{color:red !important;}
.color_f5c346{color:#f5c346 !important;}











